#wrapper {
  width: 100%;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 75px;
  background-color: #008c6c;
  border-top: 2px solid #00785d;
}
h6 {
  text-align: center;
  color: #FFF;
}