<div class="col-12">
  <div class="panel">
    <div class="panel-header">
      <h4>Novo Check In</h4>
    </div>
    <div class="panel-body">
        <div class="col-12">
          <button
              class="button-standard button-lg" type="submit"
              (click)="postCheckIn(name, document, phone, enterDate, leaveDate, vehicle)">
            Novo Check In
          </button>
        </div>
        <div class="col-6">
          <h6>Data/Hora de entrada</h6>
          <input type="datetime-local" required class="hotel-input" [(ngModel)]="enterDate" />
        </div>
        <div class="col-6">
          <h6>Data/Hora de saída?</h6>
          <input type="datetime-local" required class="hotel-input" [(ngModel)]="leaveDate" />
        </div>
        <div class="col-3">
          <input type="text" required class="hotel-input" placeholder="Nome" [(ngModel)]="name" />
        </div>
        <div class="col-3">
          <input type="text" required class="hotel-input" placeholder="Documento" [(ngModel)]="document" />
        </div>
        <div class="col-3">
          <input type="text" required class="hotel-input" placeholder="Telefone" [(ngModel)]="phone" />
        </div>
        <div class="col-3">
          <h6>Possui veículo?</h6>
          <input type="checkbox" required class="hotel-input" placeholder="" [(ngModel)]="vehicle" />
        </div>
    </div>
  </div>
</div>